<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owner.internationalaset">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityControlEvent"/>
        <activity android:name=".ActivityControlKeynote" />
        <activity android:name=".ActivityControlArticle" />
        <activity android:name=".ActivityControlSession" />
        <activity android:name=".ActivityControlPasscode" />
        <activity android:name=".ActivityControlPanel" />
        <activity android:name=".MainEvent"/>

        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>